<h1>Books</h1>
<% @books.each do |book| %>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Body</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    </tbody>
  </table>

<% end %>
